[Desktop Entry]
Type=Application
Name=S3 Browser
Comment=Browse and transfer files in S3, Swift, Azure Blob and Google Cloud Storage
Exec=s3-browser
Icon=com.tuxbase.s3browser
Terminal=false
Categories=Utility;Network;FileTransfer;
StartupWMClass=com.tuxbase.s3browser
StartupNotify=true
